html {
    height: 100%;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    align-content: center;
    margin: 0 auto;
    height: 100%;
}

header, nav, section, Aside, Footer {
    background: #ebebeb;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    width: 20%;
    float: left;
    background: #4aaaa5;
    color: #d40505
}

nav {
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: right;
    width: 73.5%;
    float: left;
}

/* this is where the about me page begins */

section {
    width: 75%;
    float: left;
    margin: 1.25%;
    text-align: center;
    
}

article {
    color: #ebebeb;
    Background: #777;
    overflow: auto;
    margin: 10px;
    margin-top: 0px;
    width: auto;
    height: auto;
    padding-top: 4px;
}

.outsider {
    padding: 10px;
    Padding-bottom: 0px;
    text-align: left;
    margin-bottom: 0px;
}

.briefbio {
    color: #777;
    background: #ebebeb;
    Height: 10%;
    padding: 2.5%;
    padding-left: 0px;
    margin: 0px;
    text-align: left;
}

.favorites {
    color: #ebebeb;
    background: #777;
    Height: 10%;
    padding: 2.5%;
    padding-left: 10px;
    margin: 0px;
    text-align: left;
}

img {
    float: left;
}

aside {
    Width: 20%;
    float: left;
    margin: 1.25%;
    text-align: center;
}

.aside {
    padding: 5%;
    
}

.comments {
    color: #ebebeb;
    Background: #777;
    overflow: auto;
    margin: 10px;
    width: auto;
    height: auto;
    padding: 10px;
}

footer {
    clear: both;
    margin:10px;
    padding: 20px;
    text-align: center;
    font-size: 10px;
}

/* this is where the portfolio page begins */

.pitfolio {
    width: 100%;
    padding: 10px 0px;
    margin: 10px;
    clear: both;
    align-content: center;
    overflow: auto;
}

.progets {
    padding: 10px;
    Padding-bottom: 0px;
    text-align: center;
    margin-bottom: 0px;
}

div {
    width: 125px;
    height: 125px;
    background-color: #4aaaa5;
    margin: 0px auto;
    float: left;
}

.break {
    width: 100%;
    background-color: #ebebeb;
    height: 22px;
}

.breaketh {
    width: 100%;
    background-color: #777;
    height: 3px;
    
}

.piture1 {
    margin-left: 30%;
    
}

.piture2 {
    margin-left: 14%;
}

.cuver {
    width: 125px;
    background: #4aaaa5;
    position: relative;
    margin-top: 125px;
    font-size: 12px;
    color: navy;
    bottom: 20px;
}

/* Contact me page starts here*/

.contakt {
    width: 97.5%;
    margin: 1.25%;
    text-align: center;
}