body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    align-content: center;
    margin: auto;
}

header, nav, section, Aside, Footer {
    background: #ebebeb;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    width: 20%;
    float: left;
    background: #4aaaa5;
}

nav {
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: right;
    width: 71.5%;
    float: left;
}

section {
    width: 75%;
    float: left;
    margin: 1.25%;
    height: 55%;
    text-align: center;
    
}

article {
    color: #ebebeb;
    Background: #777;
    overflow: auto;
    margin: 10px;
    margin-top: 0px;
    width: auto;
    height: auto;
    padding-top: 4px;
}

h1.outsider {
    padding: 10px;
    Padding-bottom: 0px;
    text-align: left;
    margin-bottom: 0px;
}

p.briefbio {
    color: #777;
    background: #ebebeb;
    Height: 10%;
    padding: 2.5%;
    padding-left: 0px;
    margin: 0px;
    text-align: left;
}

p.favorites {
    color: #777;
    background: #ebebeb;
    Height: 10%;
    padding: 2.5%;
    padding-left: 0px;
    margin: 0px;
    text-align: left;
}

img {
    float: left;
}

aside {
    Width: 20%;
    float: left;
    margin: 1.25%;
    text-align: center;
}

p.aside {
    padding: 5%;
    
}

p.comments {
    color: #ebebeb;
    Background: #777;
    overflow: auto;
    margin: 10px;
    width: auto;
    height: auto;
    padding: 10px;
}

footer {
    clear: both;
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: auto;
}